<div *ngIf="pokemon">
    
    <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div style="text-align: center">
                <img mat-card-sm-image src="assets/img/official-artwork/{{pokemon.id}}.png"><br>
               
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-list>
                <mat-list-item>
                    <span>{{pokemon.name}} </span>
                </mat-list-item>
            <mat-list-item>
                <audio #pokemonSound autoplay controls src="assets/audio/{{pokemon.id}}.mp3"></audio>
            </mat-list-item>
                <mat-list-item>
                    <mat-chip-list
                            class="example-chip"
                            cdkDropList>
                        <mat-chip
                                class="example-box"
                                *ngFor="let type of pokemon.types">
                            {{type}}
                        </mat-chip>
                    </mat-chip-list>
                </mat-list-item>
                <mat-list-item> Taille : {{pokemon.height | number: '1.1'}} m </mat-list-item>
                <mat-list-item> Poids : {{pokemon.weight | number: '1.1'}} kg </mat-list-item>
                <mat-list-item>No. {{pokemon.id | number : '3.0'}}</mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            {{pokemon.description}}
        </mat-grid-tile>
    </mat-grid-list>
    <button (click)="!Back()"><mat-icon>Précédent</mat-icon></button>
</div>
